//sidebar
@import "partials/sidebar";

//claims
@import "partials/claims";

//forms
@import "partials/forms";

body {
    background: $inside-bg;
    font-family: $cerebri-sans;

    .fs-20 {
        font-size: 20px;
    }
}

.top-nav {
    //-webkit-box-shadow: 0 0 11px rgb(0 0 0 / 13%) !important;
    //box-shadow: 0 0 11px rgb(0 0 0 / 13%);
    padding: 11px 0;
    border-bottom: 1px solid #e2e8f0;
}

.content {
    position: absolute;
    right: 0;
    left: 0;
    margin-left: 18%;
    top: 10%;
    transition: margin-left .5s;

    .icon-box {
        box-shadow: none;
    }

    .icon-boxes a:link, .icon-boxes a:hover,
    .icon-boxes a:active, .icon-boxes a:visited {
        text-decoration: none;
        color: inherit;
    }

    .shade {
        border: 1px solid #e6e6e6;
        -webkit-box-shadow: 0 0 2px rgb(0 0 0 / 10%);
        box-shadow: 0 0 2px rgb(0 0 0 / 10%);
        height: auto;
        background-color: white;
        padding: 20px;
        display: inline-block;
        border-radius: 0.5rem;
    }

    footer {
        clear: both;
        background-color: transparent;
        text-align: center;
        border-top: 2px solid rgba(152, 166, 173, .2);
        text-transform: capitalize;
        padding: 0;

        p {
            margin: 0;
            padding: 1% 0;
            color: gray;
        }
    }
}
